In [1]:
def say_hello():
    print("Hello!")

In [2]:
#Call the function
say_hello()

Hello!

In [3]:
# Define the function "say something" so it prints whatever is passed as the variable when called
def say_something(whatever):
    print(whatever)

In [12]:
say_something("yo momma")

yo momma

In [13]:
Gary_says = "I'm not a player I just crush a lot!"
say_something(Gary_says)

I'm not a player I just crush a lot!

In [20]:
def say_something(things):
    print(things)

In [22]:
Wilson_says =  "Show me that money"
say_something(Wilson_says)

Show me that money

In [24]:
# A list of my grades 
my_grades = ['B', 'C', 'B', 'D']
my_grades

['B', 'C', 'B', 'D']

In [25]:
import pandas as pd 
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [26]:
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [27]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [29]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]
print(my_grades)

[92.34, 84.56, 86.78, 98.32]

In [30]:
for grade in my_grades:
    print(grade)

92.34
84.56
86.78
98.32

In [31]:
my_grades

[92.34, 84.56, 86.78, 98.32]

In [34]:
for grade in my_grades:
    print("{:.0F}".format(grade))

92
85
87
98

In [35]:
for grade in my_grades:
    print("{:.2F}".format(grade))

92.34
84.56
86.78
98.32

In [36]:
for grade in my_grades:
    print("{:.0F}".format(grade))

92
85
87
98

In [37]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [38]:
# Format the grades to the nearest whole number percent
my_grades.map("{:.0F}".format)

0    92
1    85
2    87
3    78
dtype: object

In [41]:
print(total_students)

NameError: name 'total_students' is not defined