In [1]:
high schools = ["Hernandez High School","Figueroa High School" , "Wilson High School"], "Wright High School"]

SyntaxError: invalid syntax (<ipython-input-1-3634aa5359a8>, line 1)

In [2]:
# List of schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [3]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [4]:
for school in high_schools: 
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
high_school_types = [{"High School": "Griffin", "Type":"District"}, 
                    {"High School":"Figueroa","Type":"District"}, 
                    {"High School":"Wilson", "Type":"Charter"},
                    {"High School":"Wright", "Type":"Charter"}]

In [6]:
for school in high_school_types:
    print type

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(type)? (<ipython-input-6-4ca1e9f36ef9>, line 2)

In [7]:
for school in high_school_types:
    print(type)

<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>

In [8]:
high_school_types[]

SyntaxError: invalid syntax (<ipython-input-8-4db9c49b429f>, line 1)

In [9]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [10]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [11]:
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [12]:
# Add Pandas as a dependency
import pandas as pd

In [13]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [14]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [16]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
dumb_shit_dicts = [{"Shit ID": 0, "shit_name": "Mr. Long", "type": "Good"},
                   {"Shit ID": 1, "shit_name": "Mr. Strain", "type": "Bad"},
                    {"Shit ID": 2, "shit_name":"Mr. Easy", "type": "Good"},
                    {"Shit ID": 3, "shit_name":"Mr. Unexpected", "type": "Shitty"},
                    {"Shit ID": 4, "shit_name":"Mr. Regular", "type": "Good"}]

In [18]:
shit_master_dict = pd.DataFrame(dumb_shit_dicts)
shit_master_dict

   Shit ID       shit_name    type
0        0        Mr. Long    Good
1        1      Mr. Strain     Bad
2        2        Mr. Easy    Good
3        3  Mr. Unexpected  Shitty
4        4     Mr. Regular    Good

In [21]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [22]:
schools_df["School ID"] = school_id
schools_df

NameError: name 'schools_df' is not defined

In [23]:
schools_df["School ID"] = school_id
schools_df

NameError: name 'schools_df' is not defined

In [24]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [25]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [27]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [28]:
schools_df["School ID"] = school_id
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [29]:
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [30]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [31]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [33]:
new_school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
new_school_name = ["Huang High School", "Figueroa High School","Shelton High School"," Hernandex High School"," Griffin High School"," Wilson High School"," Cabrera High School"," Bailey High School"," Holden High School","Penda High School"," Wright High School","Rodriguez High School"," Johnson High School","Ford High School","Thomas High School"]
new_school_type = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

In [34]:
new_school_df = pd.DataFrame()

In [35]:
new_school_df ["School ID"] = new_school_id
new_school_df ["School Name"] = new_school_name
new_school_df ["Type"] = new_school_type
new_school_df

    School ID             School Name      Type
0           0       Huang High School  District
1           1    Figueroa High School  District
2           2     Shelton High School   Charter
3           3   Hernandex High School  District
4           4     Griffin High School   Charter
5           5      Wilson High School   Charter
6           6     Cabrera High School   Charter
7           7      Bailey High School  District
8           8      Holden High School   Charter
9           9       Penda High School   Charter
10         10      Wright High School   Charter
11         11   Rodriguez High School  District
12         12     Johnson High School  District
13         13        Ford High School  District
14         14      Thomas High School   Charter

In [37]:
new_school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, ' Hernandex High School', 'District'],
       [4, ' Griffin High School', 'Charter'],
       [5, ' Wilson High School', 'Charter'],
       [6, ' Cabrera High School', 'Charter'],
       [7, ' Bailey High School', 'District'],
       [8, ' Holden High School', 'Charter'],
       [9, 'Penda High School', 'Charter'],
       [10, ' Wright High School', 'Charter'],
       [11, 'Rodriguez High School', 'District'],
       [12, ' Johnson High School', 'District'],
       [13, 'Ford High School', 'District'],
       [14, 'Thomas High School', 'Charter']], dtype=object)

In [38]:
new_school_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [39]:
new_school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, ' Hernandex High School', 'District'],
       [4, ' Griffin High School', 'Charter'],
       [5, ' Wilson High School', 'Charter'],
       [6, ' Cabrera High School', 'Charter'],
       [7, ' Bailey High School', 'District'],
       [8, ' Holden High School', 'Charter'],
       [9, 'Penda High School', 'Charter'],
       [10, ' Wright High School', 'Charter'],
       [11, 'Rodriguez High School', 'District'],
       [12, ' Johnson High School', 'District'],
       [13, 'Ford High School', 'District'],
       [14, 'Thomas High School', 'Charter']], dtype=object)